 

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-header></app-header>
      <app-announcement></app-announcement>
      <app-plants></app-plants>
      <app-planters></app-planters>
      <app-supplies></app-supplies>
      <app-merchandise></app-merchandise>


    <div  class= "heading">
      <div class="insideheading">

      <h2>Outdoor for your indoors</h2>
      <button class="btn-primary">GET PLANTS </button> 
      <button class="btn-secondary"> TEXT US</button> 
      
     </div>
    </div>       
     
  
      <!--block -->
      <blockquote  class="message">

      Building your indoor jungle has never been easier or<br>      
      more affordable. We ship healthy, happy plants <br>      
      directly from the nursery, straight to your door.
      </blockquote>    
  


    <!-- dot -->
     <div>
      <img  class = "dot" src ="https://cdn.shopify.com/s/files/1/2781/9558/files/rooted_instagram_icon22_200x.png?v=1549053675">
      </div>    
  

    <img class ="misteryjungleimage"  src ="https://cdn.shopify.com/s/files/1/2781/9558/products/mystery_bundle_700x.gif?v=1587706137"> 
    <div  class ="misteryheading">
     
    <h1 ><a id="jungleboxheading" href="/products/small-plants-mystery-bundle">Mystery Jungle Box</a> </h1> 
  
    <!--
   <div class="ProductMeta__PriceList Heading"><span class="ProductMeta__Price Price Text--subdued u-h4" data-money-convertible>$49</span> </div> -->
   
    <div class= "para">
      <p><strong>All mystery bundles come with a bonus air plant!</strong></p>
      <p>If you're looking to spice things up in the bedroom, or any room, really, consider this mystery bundle of four small plants (4" nursery pot diameter). 
        The uncertainty of not knowing which plants you'll receive is simply exhilarating and definitely way more fun than a Zoom hangout.
         Each box comes with care instructions and is curated to suit your lighting needs.</p>

      <p><img alt="Low Maintenance:" src="https://cdn.shopify.com/s/files/1/2781/9558/files/lowmaintenance.png?5990" style="float: left; margin: 0px 10px 0px 0px;" width="28" height="28">Lower maintenance than your cat, dog, and/or roommate.</p>
      <br style="clear: both;">
      <p style="float: left;"><img alt="Beginners:" src="https://cdn.shopify.com/s/files/1/2781/9558/files/beginners.png?5990" style="float: left; margin: 0px 10px 0px 0px;" width="28" height="28">Great for people quarantined in their homes.</p>
      <br style="clear: both;">
      <p style="float: left;"><img alt="Gifts:" src="https://cdn.shopify.com/s/files/1/2781/9558/files/gifts.png?5590" style="float: left; margin: 0px 10px 0px 0px;" width="28" height="28">Even greater for gifting to other quarantined friends.</p>
      <br style="clear: both;">
    </div>
<form method="post" action="/cart/add" id="product_form_4525474971697" accept-charset="UTF-8" class="ProductForm" enctype="multipart/form-data" data-productid="4525474971697"><input type="hidden" name="form_type" value="product" /><input type="hidden" name="utf8" value="✓" /><!-- Begin ReCharge code -->
<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->


</form>

</div>
</div>
</div>











