
    <div class="container">
      <div class="row">
     
        <div class="col-md-4"  style="background-color:rgb(205, 205, 211);"  >
        
        <h4>Dashboard</h4>
        <h4>Widgets</h4>
        <h4> Reviews</h4>
        <h4>Customers</h4>
        <h4>Online Analysis</h4>
        <h4>Settings</h4>
        </div>

      
      
        <div class= "col-lg-2">
      
          <h1 class ="bg-primary">Reviews</h1>
          <p class="bg-success">1,2981</p>       
         
        </div>

        <div class= "col-md-3">

          <h1 class="bg-primary">Average Rating</h1>
          <p class="bg-success">4.6</p>

        </div>
        
          <div class= "col-sm-3">
          <h1 class="bg-primary">Sentiment Analysis</h1>
          <ul class="bg-success">
            <li>960 </li>
            <li>122</li>
            <li>321 </li>
         </ul>
        
      </div>

      
          <div class="row">
        <div class=" p-lg-5 bg-danger">
        <div class=" col-md-6">
        <h1 class="bg-primary">Website Visitors</h1>
        <p class="bg-success">821</p>
      </div>
    </div>
    </div>
    </div>
 </div> 


 



