* {
   box-sizing: border-box;
}

body{

  background-color: #5f9ea0;



}
  
#1 {
    display: flex;
    
        flex-grow: 4;
      

    background-color: rgb(30, 103, 176); 
  }
  

  .flex-container > div {
    background-color: #b18787;
    width: 100px;
    margin: 1px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }



  .flex-container2 {
    display: flex;
   flex-wrap: nowrap; 
    background-color: rgb(124, 105, 91); 
  }
  

  .flex-container2 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 1px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }








 

.flexbox-container {

display: flex;


}




.flexbox-container > div {

    border: 1px #ccc solid;
    
    
}



.flexbox-item-1{

    flex:1;
    
    
    
}


.flexbox-item-2{

    flex:1;
    
    
}

.flexbox-item-3{

flex:1;
        
        
}

.flexbox-item-4{

flex:1;
            
            
}

.flexbox-item-5{

flex:1;
                
                
}

.flexbox-item-6{
flex:1;            
             
 }

 