<!-- app.component.html -->
 
<div class="row">
  <div class="col-xs-10">
      <app-home></app-home> 
      <hr>
     
  </div>
</div>


<div class="container-fluid bg-3 text-center" >
  <div class="row">
    <div class=" col-sm-3" id="1 color">
      <h2 >
        Welcome to the portfolio of Jonathan Patterson
      </h2>
    </div>
    <div class="col-sm-2" id="2">
      <p></p>
      <img src="http://www.jonathanpatterson.com/images/grenade-in-tact.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2" id="3">
      <p></p>
      <img src="http://www.jonathanpatterson.com/images/prism-upright.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-2">
      <p></p>
      <img src="http://www.jonathanpatterson.com/images/globe-no-pins.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p></p>
      <img src="http://www.jonathanpatterson.com/images/energy-drink.png" class="img-responsive" style="width:100%;" alt="Image">
    </div>
    <div class="col-sm-2">
      <p></p>
      <img src="http://www.jonathanpatterson.com/images/curled-paper.png" class="img-responsive" style="width:100%" alt="piece of white curled paper">
    </div>
  </div>
</div>


















<!--
<div class="flex-container">
  <div>Home</div>
  <div>About</div>
  <div>Portfolio</div>  
</div>


<div class="flex-container2">
  <div>Clients</div>
  <div>'Sup</div>
  <div>Co</div>  
  
</div>




 <div class="flexbox-container">
  <div class= "flex-item flexbox-item-1">
    <app-home></app-home>
    </div>

   <div class= "flex-item flexbox-item-2">
    <app-about></app-about>
  </div>
  
   <div class= "flex-item flexbox-item-3">
     <app-portfolio></app-portfolio>
   </div>
   <br>

   <div class= "flex-item flexbox-item-4">
     <app-clients></app-clients>
    </div>

    <div class= "flex-item flexbox-item-5">
     <app-sup></app-sup>
    </div>

    <div class= "flex-item flexbox-item-6">
     <app-contact></app-contact>
    </div>
  -->
      
